{% extends 'base.html' %}

{% block content %}
<section class="hero d-flex align-items-center justify-content-center text-center py-5">
  <div class="container">
    <div class="hero-text">
      <h1 class="display-4 fw-bold mb-3">Smarter Expense Tracking</h1>
      <p class="tagline lead mb-4">
        We track what you <span class="highlight">spend</span> and guide you to what you <span class="highlight">save</span> next.
      </p>

      <div class="d-flex justify-content-center flex-wrap gap-3">
        <a href="{{url_for('login.login')}}" class="btn btn-outline-primary btn-lg">Login</a>
        <a href="{{url_for('signup.signup')}}" class="btn btn-primary btn-lg">Sign Up</a>
      </div>

      <p class="mt-4 small">
        Or <a href="" class="text-decoration-underline">Start Tracking</a> without an account.
      </p>
    </div>
  </div>
</section>
{% endblock content %}
